.cardBox{
    margin:5% 0 0 3%;
    float: left;
}
.requestBox{
    width: 50%;
    float: right;
    border: 1px solid #ccc;
    margin: 5% 3% 0 0;
}
.browseMoneyBox{
    width: 40%;
    float: right;
    border: 1px solid #ccc;
    margin: 5% 3% 0 0;
}
.requestInfo{
    width: 40%;
    float: right;
    border: 1px solid #ccc;
    margin: 5% 3% 0 0;
}
.requestInfoBox{
    margin: 1% 0 1% 0;
}
